/************************* Reset style *************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    width: 30%;
}

html {
    scroll-behavior: smooth;
}

/************************* global style *************************/
.container {
    width: 90%;
    margin: auto;
}

.padding-top-bottom {
    padding: 2% 0%;
}

.primary {
    color: #285E67;
}

.bg-transparent {
    background-color: transparent;
}

.bg-primary {
    background-color: #285E67;
}

.bg-secondary {
    background: #EBBFAE;
}
.bg-light-secondary{
    background-color: #FCE2D7;
}
.text-white {
    color: white;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.fs-small {
    font-size: small;
}

.btn {
    border-radius: 25px;
    padding: 5px 60px;
    border: none;
}

.w-50 {
    width: 48%;
}

.w-25 {
    width: 25%;
}

.border-radius {
    border-radius: 25px;
}

.bg-lightgray {
    background-color: #F4F4F4;
}

.margin-top-bottom-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-top-bottom-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}


.w-30 {
    width: 30%;
}

.border-radius-5px {
    border-radius: 5px;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

h1,
h2 {
    font-weight: 600;
}

.margin-top {
    margin-top: 65px;
}

/************************* custome style *************************/
.logo img {
    width: 30%;
    height: 10%;
    margin-top: 10%;
}

.custome-icon {
    width: 45px;
    height: 45px;
    padding-top: 13px;
    border-radius: 5px;
}

.custome-circle-icon {
    border-radius: 50%;
    padding: 7px;
    border: 1px solid #285E67;
    width: 30px;
    height: 30px;
}

.bg-img {
    background-image: url("../images/6ffa38c75963c1395d4cd22dd87078f89d5c9065.jpg");
    background-size: 100% 490px;
    background-repeat: no-repeat;
}

.border-white {
    border: 1px solid white;
}

.custome-container {
    width: 50%;
    margin: auto;

}

.content {
    margin-top: 30px;
}

.custome-padding {
    padding: 70px 0px;
}

.bg-img .container i {
    border-radius: 50%;
    padding: 15px 0px 0px 0px;
    border: 1px solid #285E67;
    width: 50px;
    height: 50px;
    color: black;
}
.margin-left{
        margin: 0px 60px 0px 0px;

}

footer li{
    font-size: 14px;
    font-weight: 200;
}
footer .icons{
    margin-top: 10px;
   
}
footer .icons i{
     margin-right: 20px;
}
.footer-container{
    width: 80%;
    margin: auto;
}